@model RecommendMe.MVC.Models.ArticleCollectionModel

@{
    ViewBag.Title = "Article";
    Layout = "_Layout";
}

<h2>Articles</h2>

@* <pagination page-info="@Model.PageInfo" page-action="Index"></pagination> *@
<pagination page-action="Index" page-info="@Model.PageInfo"></pagination>

<a asp-action="Add">Add</a>

@foreach (var article in Model.Articles)
{
    <div>
        <div>
            <h3>@article.Title</h3>
            <h5>@article.CreationDate</h5>
        </div>
        <div>
            <p>@article.Description</p>
            <a asp-action="Details" asp-route-id="@article.Id">Read</a>
        </div>
        <div>
            <h6>@article.Source.SourceName</h6>
            <span>Rate: @article.PositivityRate</span>
        </div>
    </div>
    <hr/>
}